/* Responsive Video
-------------------------------------*/

.cc-embedded-video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.cc-embedded-video iframe,
.cc-embedded-video object,
.cc-embedded-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cc-shortcode-video .wp-video,
.cc-shortcode-video video.wp-video-shortcode,
.cc-shortcode-video .mejs-container,
.cc-shortcode-video .mejs-overlay.load {
  width: 100% !important;
  height: 100% !important;
}

.cc-shortcode-video .mejs-container {
  padding-top: 56.25%;
}

.cc-shortcode-video .wp-video,
.cc-shortcode-video video.wp-video-shortcode {
  max-width: 100% !important;
}

.cc-shortcode-video video.wp-video-shortcode {
  position: relative;
}

.cc-shortcode-video .mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cc-shortcode-video .mejs-controls {
  display: none;
}

.cc-shortcode-video .mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}

/* Podcast Series Archive
-------------------------------------*/

.cc-podcast-series-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.cc-podcast-series-item {
  width: 100%;
  margin: 0 15px 15px 15px;
}

@media screen and (min-width: 768px) {
  .cc-podcast-series-item {
    width: calc(50% - 30px);
  }
}

/* Podcast Item Layout
-------------------------------------*/

.church-core-container .podcast-episode {
  margin-bottom: 30px;
}

.episode-speaker-series span {
  margin-right: 10px;
  padding-right: 10px;
  border-right: solid rgba(0, 0, 0, 0.1);
}

.episode-actions .cc-icon-helper {
  margin-left: 10px;
}

.cc-column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem;
}

.cc-row {
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

@media screen and (min-width: 769px) {
  .cc-column.is-narrow {
    flex: none;
  }
  .cc-row {
    display: flex;
  }
  .episode-actions {
    text-align: right;
    align-items: center;
    display: flex;
  }
}
